body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
  background-color: #fff2f2;
  transform: translateY(-50px);
}

/* IZQUIERDA */
.izquierda {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu {
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  background-color: #ff7c7c;
  color: #471515;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu:hover {
  background-color: #ff5252;
  transform: scale(1.05);
}

.btn-shortBreak {
  padding: 10px;
  cursor: pointer;
  background-color: #ff7c7c;
  color: #471515;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-shortBreak:hover {
  background-color: #ff5252;
  transform: scale(1.05);
}

.btn-shortLong {
  padding: 10px;
  cursor: pointer;
  background-color: #ff7c7c;
  color: #471515;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-shortLong:hover {
  background-color: #ff5252;
  transform: scale(1.05);
}

/*PlayList spotify*/

.container-spotify {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.container-spotify iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*Menu desplegable*/

.menu-container {
  position: relative;
  display: inline-block;
}

#btn-menu {
  font-size: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.panel-menu {
  position: absolute;
  top: 95px;
  left: 120px;
  background: white;
  padding: 12px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

/*Menu oculto*/
.hidden {
  display: none;
}

.panel-menu button {
  background: #ff7c7c;
  color: #471515;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.panel-menu button:hover {
  background: #ff5252;
}

#spotifyUrl {
  padding: 8px;
  border: 1px solid #ff7c7c;
  border-radius: 6px;
}

.loadPlaylist {
  background: #ff7c7c;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* CENTRO */
.items-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  width: fit-content;
  color: #471515;
  font-size: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.buttons-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-start {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  background-color: #ff7c7c;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-start:hover {
  background-color: #833e3e;
  transform: scale(1.05);
}

.btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd9d9;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ceafaf;
  transform: scale(1.05);
}

.status {
  height: 24px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #471515;
  font-weight: bold;
  background-color: #ffd9d9;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.status.show {
  opacity: 1;
}

/* DERECHA */
.derecha {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.container-ToDo {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #471515 solid 2px;
  border-radius: 10px;
  background-color: #ff5252;
}

.date {
  color: white;
  font-size: 25px;
}

.container-tareas {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  border: #471515 solid 3px;
  border-radius: 10px;
}

.tarea {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.button-fin {
  transform: scale(1.5);
  margin-right: 10px;
  accent-color: #471515;
  vertical-align: middle;
}

.todo-tarea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-ToDo h1 {
  font-size: 30px;
  margin: 5px 0; /
}

.container-ToDo p {
  margin: 3px 0; 
  color: white;
  font-size: 18px;
}

.container-ToDo .date {
  font-size: 25px;
  margin: 3px 0;
}

.acciones-todo {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.btn-add {
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #471515;
  font-weight: bold;
  background-color: #ffd9d9;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-add:hover {
  background-color: #833e3e;
  transform: scale(1.05);
}

.btn-delete {
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #471515;
  font-weight: bold;
  background-color: #ffd9d9;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-delete:hover {
  background-color: #833e3e;
  transform: scale(1.05);
}
